#s-ff0ac57f-0b60-4282-89bf-9c3181235635 > #backgroundBox {
  position: absolute;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 > #alignmentBox {
  position: relative;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 {
  position: absolute;
  width: 682.4999999999999px;
  min-height: 99.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 {
  box-shadow: none;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Title_1 span#rtr-s-Title_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 {
  position: absolute;
  width: 212.5px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 {
  box-shadow: none;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 14px;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 {
  box-shadow: none;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_5 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_7 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_8 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_9 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_10 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_11 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_12 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_13 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_14 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_15 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_16 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_17 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_18 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_19 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_20 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_21 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 #s-Paragraph_1 span#rtr-s-Paragraph_1_22 {
  color: #000000;
  text-decoration: none;
  font-family: 'AGaramondPro-Regular',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-ff0ac57f-0b60-4282-89bf-9c3181235635 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
